<!DOCTYPE html>
<html lang="Pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body style="padding: 0; margin: 0; background-color: #000000;">
    <header style="display: flex; background-color: #363636; justify-content: center; gap: 650px; height: 100px">
        <h1 style="color: white; padding-left: 40px;">
            Scouts
        </h1>
        <div>
            <button>Partidas</button>
            <button>Criar Partida</button>
        </div>
        <div>
            <button>Login</button>
        </div>
    </header>
    
</body>
</html>a