<!DOCTYPE html>
<html lang="Pt-Br">

<head>
    <title>SCOUTS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/styles/areaDeslogada.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/areaDeslogada.css">
</head>
<body>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/areaDeslogada.js') }}"></script>

    <div class="navBar">
        <div>
            <h1>PROJETO SCOUTS</h1>
        </div>

        <div class="menu">
            <ul class="menu">
                <li><a href="#">CRIAR EVENTO</a></li>
                <li><a href="#">GERENCIAR EVENTOS</a></li>      
            </Ul>
        </div>

        <div class="menu">
            <ul class="menu">
                <li><a href="{{ url_for('appRotas.cadastroPage') }}">ENTRAR</a></li>
            </Ul>
        </div>
    </div>

    <div class="Content">
        
    </div>
</body>
</html>