<!DOCTYPE html>
<html lang="Pt-Br">

<head>
    <title>SCOUTS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/styles/areaDeslogada.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/areaDeslogada.css">
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/areaDeslogada.js') }}"></script>
</head>
<body>
<!-- inicio corpo html -->
    <div class="tbody">

        <!--inicio navegação lateral  -->
        <nav class="nav">

            <div style="justify-content: center; align-items: center; display: flex; flex-direction: column;">
                <a href=""><img style="width: 50px; height: 50px; margin-top: 40px;" src="../static/styles/icons/home-4-fill.svg" alt=""></a>
                <p>Página inicial</p>
            </div>
            
            <div style="justify-content: center; align-items: center; display: flex; flex-direction: column;;">
                <a href=""><img style="width: 50px; height: 50px; margin-top: 640px;" src="../static/styles/icons/list-settings-line.svg" alt=""></a>
                <p>Configurações</p>
            </div>
        </nav>
        <!-- fim navegação lateral -->

        <!-- conteudo principal -->
        <main class="content">
            <!-- navegação do conteudo principal -->
            <nav class="nav-content">
                <div class="first-line-navigation">

                    <div style="display: flex; gap: 10px; font-size: 26px; margin-left: 40px;">
                        <img src="../static/styles/icons/arrow-left-line.svg" alt="">
                        <p>
                           SCOUTS PELADAS
                        </p>        
                    </div>

                    <div style="display: flex; gap: 70px;">
                        <p>CRIAR PARTIDAS</p>
                        <p>GERENCIAR PARTIDAS</p>
                    </div>

                    <div style="display: flex; gap: 70px;">
                        <a href=""><img style="width: 40px; height:40px;" src="../static/styles/icons/lightbulb-line.svg" alt=""></a>
                        
                        <a href=""><img style="width: 40px; height:40px; margin-right: 40px;" src="../static/styles/icons/user-line.svg" alt=""></a>
                        <div class="form-logging">
                            <p>Faça login aqui</p>

                        </div>
                    </div>
                </div>
            </nav>
            <!-- fim navegação do conteudo principal -->
        </main>
        <!-- fim conteudo principal -->
    </div>
<!-- fim corpo html -->

    
</body>
</html>